<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WR7463W7');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8">
  <meta name="description"
    content="Temukan paket tour dan travel terbaik untuk liburan Anda. Kami menyediakan layanan wisata domestik & internasional dengan harga bersahabat dan pelayanan terpercaya.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="g1yooMMQj9RAlGBYZaKkP4LkYwfWl3XzBXlYO2aIKS8" />
  <title>Terra Bajo</title>


  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">


  <link rel="stylesheet" href="./assets/css/wisata.css">
  <link rel="stylesheet" href="./assets/css/sosmed.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"> </head>

<body id="top">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WR7463W7" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- - #HEADER -->

  <header class="headers" data-headers>

    <div class="overlays" data-overlays></div>

    <div class="headers-top">
      <div class="containers">

        <a href="tel:6285338393764" class="helpline-box">

          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <div class="wrappers">
            <p class="helpline-title">For More Information :</p>

            <p class="helpline-number">+6285338393764</p>
          </div>

        </a>

        <a href="#" class="logo">
          <h1>TerraBajo</h1>
        </a>

        <div class="headers-btns-group">

          <button class="search-btns" aria-label="Search">
            <ion-icon name="search"></ion-icon>
          </button>

          <button class="nav-open-btns" aria-label="Open Menu" data-nav-open-btns>
            <ion-icon name="menu-outline"></ion-icon>
          </button>

        </div>

      </div>
    </div>

    <div class="headers-bottom">
      <div class="containers">

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/terratour_id?igsh=MWR0bnNoMm95ZWk1bg%3D%3D" class="social-link">
              <!-- <ion-icon name="logo-twitter"></ion-icon> -->
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

        <nav class="navbars" data-navbars>

          <div class="navbars-top">

            <a href="#" class="logo">
              <p style="color: rgb(255, 255, 255);">Terra bajo</p>
            </a>

            <button class="nav-close-btns" aria-label="Close Menu" data-nav-close-btns>
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <ul class="navbars-list">

            <li>
              <a href="#home" class="navbars-link" data-nav-link>home</a>
            </li>

            <li>
              <a href="#" class="navbars-link" data-nav-link>about us</a>
            </li>

            <li>
              <a href="#destination" class="navbars-link" data-nav-link>destination</a>
            </li>

            <li>
              <a href="#package" class="navbars-link" data-nav-link>packages</a>
            </li>

            <li>
              <a href="#gallery" class="navbars-link" data-nav-link>gallery</a>
            </li>

            <li>
              <a href="#contact" class="navbars-link" data-nav-link>contact us</a>
            </li>

          </ul>

        </nav>

        <button class="btns btns-primary">Book Now</button>

      </div>
    </div>

  </header>





  <main>
    <article>
      <section class="hero" id="home">
        <div class="container">

          <h2 class="h1 hero-title" style="color: rgb(255, 255, 255);" >Terra Tour & Travel</h2>

          <p class="hero-text">
            Nikmati Alam Flores yang tak terlupakan bersama kami
          </p>

          <div class="btns-group">
            <button class="btns btns-primary"><a class="customs" style="text-decoration: none; color:aliceblue" href="#destination">Learn more</a></button>
            <button class="btns btns-secondary">Book now</button>
          </div>

        </div>
      </section>
      <section class="popular" id="destination" style="margin-top: 50px;">
        <div class="containers">

          <h2 class="h2 section-title">Popular destination</h2>

          <p class="section-text">
            Dengan pesona alam yang memukau dan budaya yang kaya, tempat ini menjadi tujuan impian. Eksplorasi dimulai
            sekarang, temukan ketenangan dan inspirasi di setiap sudut. Jangan lewatkan kesempatan ini, kunjungi kami
            segera!
          </p>

          <ul class="popular-list">

            <li>
              <div class="popular-cards">

                <figure class="cards-img">
                  <img src="./assets/images/rangko/1.png" alt="gua rangko" loading="lazy">
                </figure>

                <div class="cards-content">

                  <div class="cards-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="cards-subtitle">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal">klik untuk detail</a>

                  </p>

                  <h3 class="h4 cards-title">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal" >DAY CITY TOUR RANGKO</a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-cards">

                <figure class="cards-img">
                  <img src="./assets/images/wulang/1.png" alt="cunca wulang" loading="lazy">
                </figure>

                <div class="cards-content">

                  <div class="cards-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="cards-subtitle">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal2">klik untuk detail</a>
                  </p>

                  <h3 class="h3 cards-title">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal2">CUNCA WULANG</a>
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="popular-cards">

                <figure class="cards-img">
                  <img src="./assets/images/wae-rebo/1.png" alt="wae rebo" loading="lazy">
                </figure>

                <div class="cards-content">

                  <div class="cards-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="cards-subtitle">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal3">klik untuk detail</a>
                  </p>

                  <h3 class="h3 cards-title">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal3">WAE REBO</a>
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="popular-cards">

                <figure class="cards-img">
                  <img src="./assets/images/overland-flores/1.png" alt="wae rebo" loading="lazy">
                </figure>

                <div class="cards-content">

                  <div class="cards-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="cards-subtitle">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal4">klik untuk detail</a>
                  </p>

                  <h3 class="h4 cards-title">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal4">OVERLAND FLORES</a>
                  </h3>
                </div>

              </div>
            </li>
            <li>
              <div class="popular-cards">

                <figure class="cards-img">
                  <img src="./assets/images/open-trip/1.png" alt="trip-3d2n-labuan-bajo" loading="lazy">
                </figure>

                <div class="cards-content">

                  <div class="cards-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="cards-subtitle">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal5">klik untuk detail</a>
                  </p>

                  <h3 class="h4 cards-title">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal5">OPEN TRIP 3D2N</a>
                  </h3>
                </div>

              </div>
            </li>
            <li>
              <div class="popular-cards">

                <figure class="cards-img">
                  <img src="./assets/images/full-day-trip/1.jpg" alt="trip-3d2n-labuan-bajo" loading="lazy">
                </figure>

                <div class="cards-content">

                  <div class="cards-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="cards-subtitle">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal6">klik untuk detail</a>
                  </p>

                  <h3 class="h4 cards-title">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#photoSliderModal6">Full DAY TRIP</a>
                  </h3>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #PACKAGE
      -->

      <section class="package" id="package">
        <div class="containers">

          <p class="section-subtitle">Paket Wisata Populer Labuan Bajo & Komodo: Petualangan Tak Terlupakan Bersama Terrabajo</p>

          <h2 class="h2 section-title">Checkout Our Packeges</h2>

          <p class="section-text">
            Bersama Terrabajo, Anda dapat memilih berbagai jenis paket Tour Labuan Bajo yang sesuai dengan gaya liburan Anda:
          </p>

          <ul class="package-list">

            <li>
              <div class="package-cards">

                <figure class="cards-banner">
                  <img src="./assets/images/Sands-Bajo-Private-Charter/1.png" alt="Experience a Great Vacation at Flores Sea" loading="lazy">
                </figure>

                <div class="cards-content">

                  <h3 class="h3 cards-title">komodo trip 3 Days 2 Nights</h3>

                  <p class="cards-text">
                    Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque,
                    cras, aspernatur.
                  </p>

                  <ul class="cards-meta-list">

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">6D/5N</p>
                      </div>
                    </li>

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">max: 12 person</p>
                      </div>
                    </li>

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">Labuan Bajo</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="cards-price">

                  <div class="wrappers">

                    <!-- <p class="reviews">(25 reviews)</p> -->

                    <div class="cards-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    $750
                    <span>/ per person</span>
                  </p>

                  <button class="btns btns-secondary"><a href=""data-bs-toggle="modal" data-bs-target="#photoSliderModal7" style="text-decoration: none; color:azure;">Detail</a></button>

                </div>

              </div>
            </li>

            <li>
              <div class="package-cards">

                <figure class="cards-banner">
                  <img src="./assets/images/kapal-komodo.jpg" alt="Experience a Great Vacation at Flores Sea"
                    loading="lazy">
                </figure>

                <div class="cards-content">

                  <h3 class="h3 cards-title">Experience a Great Vacation at Flores Sea</h3>

                  <p class="cards-text">
                    Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque,
                    cras, aspernatur.
                  </p>

                  <ul class="cards-meta-list">

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">7D/6N</p>
                      </div>
                    </li>

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">pax: 10</p>
                      </div>
                    </li>

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">Labuan Bajo</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="cards-price">

                  <div class="wrappers">

                    <!-- <p class="reviews">(20 reviews)</p> -->

                    <div class="cards-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    $520
                    <span>/ per person</span>
                  </p>

                  <button class="btns btns-secondary">Book Now</button>

                </div>

              </div>
            </li>

            <li>
              <div class="package-cards">

                <figure class="cards-banner">
                  <img src="./assets/images/localcolection.jpg" alt="Labuan Bajo Weekend Vacation" loading="lazy">
                </figure>

                <div class="cards-content">

                  <h3 class="h3 cards-title">Labuan Bajo Weekend Vacation</h3>

                  <p class="cards-text">
                    Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque,
                    cras, aspernatur.
                  </p>

                  <ul class="cards-meta-list">

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="time"></ion-icon>

                        <p class="text">7D/6N</p>
                      </div>
                    </li>

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="people"></ion-icon>

                        <p class="text">pax: 10</p>
                      </div>
                    </li>

                    <li class="cards-meta-item">
                      <div class="meta-box">
                        <ion-icon name="location"></ion-icon>

                        <p class="text">Labun Bajo</p>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="cards-price">

                  <div class="wrappers">

                    <!-- <p class="reviews">(40 reviews)</p> -->

                    <div class="cards-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                  </div>

                  <p class="price">
                    $660
                    <span>/ per person</span>
                  </p>

                  <button class="btns btns-secondary">Book Now</button>

                </div>

              </div>
            </li>

          </ul>

          <button class="btns btns-primary">View All Packages</button>

        </div>
      </section>





      <!-- 
        - #GALLERY
      -->

      <section class="gallery" id="gallery">
        <div class="containers">

          <p class="section-subtitle">Photo Gallery</p>

          <h2 class="h2 section-title">Photo's From Travellers</h2>

          <p class="section-text">
            Selamat datang di Photo Gallery eksklusif kami, tempat di mana kisah perjalanan dihidupkan melalui lensa para traveller sejati!
          </p>

          <ul class="gallery-list">

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="./assets/images/komodo.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="./assets/images/kapal-komodo.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="./assets/images/padar.jpg" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="./assets/images/ping-beach.webp" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="./assets/images/localcolection.jpg" alt="Gallery image">
              </figure>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="cta" id="contact">
        <div class="containers">

          <div class="cta-content">
            <p class="section-subtitle">Call To Action</p>

            <h2 class="h2 section-title">Ready For Unforgatable Travel. Remember Us!</h2>

            <p class="section-text">
              Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque
              laudantium. Sit ornare
              mollitia tenetur, aptent.
            </p>
          </div>

          <button class="btns btns-secondary">Contact Us !</button>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="containers">

        <div class="footer-brand">

          <a href="#" class="logo">
            <!-- <img src="./assets/images/logo.svg" alt="Tourly logo"> -->
            <h1 style="text-decoration: none;">Terra Bajo</h1>
          </a>

          <p class="footer-text">
            Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia
            at
            perferendis, pretium, aenean aut ultrices.
          </p>

        </div>

        <div class="footer-contact">

          <h1 class="contact-title">Contact Us</h1>

          <p class="contact-text">
            Feel free to contact and reach us !!
          </p>

          <ul>

            <li class="contact-item">
              <ion-icon name="call-outline"></ion-icon>

              <a href="tel:+01123456790" class="contact-link">+628000000000</a>
            </li>

            <li class="contact-item">
              <ion-icon name="mail-outline"></ion-icon>

              <a href="mailto:jollies-komodo.com" class="contact-link">info.terrabajo.com</a>
            </li>

            <li class="contact-item">
              <ion-icon name="location-outline"></ion-icon>

              <address>Labuan Bajo</address>
            </li>

          </ul>

        </div>

        <div class="footer-form">

          <p class="form-text">
            Subscribe our newsletter for more update & news !!
          </p>

          <form action="" class="form-wrappers">
            <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

            <button type="submit" class="btns btns-secondary">Subscribe</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="containers">

        <p class="copyright">
          &copy; 2025 <a href="" stryle="text-decoration: none">Terra-Bajo</a>. All rights reserved
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Term & Condition</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">FAQ</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>



  <!-- Struktur Modal -->
  <!-- The Modal -->
  <div class="modal fade" id="photoSliderModal" tabindex="-1" aria-labelledby="photoSliderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModalLabel">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/rangko/1.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/rangko/2.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/rangko/3.png" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="modal fade" id="photoSliderModal2" tabindex="-1" aria-labelledby="photoSliderModal2Label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModal2Label">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/wulang/1.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/wulang/2.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/wulang/3.png" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end 2 -->
  <!-- 3 -->
  <div class="modal fade" id="photoSliderModal3" tabindex="-1" aria-labelledby="photoSliderModal3Label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModal3Label">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/wae-rebo/1.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/wae-rebo/2.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/wae-rebo/3.png" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end 4 -->
     <div class="modal fade" id="photoSliderModal4" tabindex="-1" aria-labelledby="photoSliderModal4Label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModal4Label">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/overland-flores/1.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/overland-flores/2.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/overland-flores/3.png" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end 4 -->
     <!-- modal 5 -->
  <div class="modal fade" id="photoSliderModal5" tabindex="-1" aria-labelledby="photoSliderModal5Label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModal5Label">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/open-trip/1.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/open-trip/2.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/open-trip/3.png" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end 5 -->
        <!-- modal 6 -->
  <div class="modal fade" id="photoSliderModal6" tabindex="-1" aria-labelledby="photoSliderModal6Label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModal6Label">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/1.jpg" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/2.jpg" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/3.jpg" class="img-fluid" alt="Foto 3"></div>
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/4.jpg" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/5.jpg" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/6.jpg" class="img-fluid" alt="Foto 3"></div>
              <div class="swiper-slide"><img src="./assets/images/full-day-trip/7.jpg" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end 6 -->

          <!-- modal kapal 1 -->
  <div class="modal fade" id="photoSliderModal7" tabindex="-1" aria-labelledby="photoSliderModal7Label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoSliderModal7Label">Slider Foto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="swiper mySwiper">
            <div class="swiper-wrappers">
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/1.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/2.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/3.png" class="img-fluid" alt="Foto 3"></div>
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/4.png" class="img-fluid" alt="Foto 1"></div>
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/5.png" class="img-fluid" alt="Foto 2"></div>
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/6.png" class="img-fluid" alt="Foto 3"></div>
              <div class="swiper-slide"><img src="./assets/images/Sands-Bajo-Private-Charter/7.png" class="img-fluid" alt="Foto 3"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal kapal 1 -->


  <!-- 
    - #GO TO TOP
  -->

  <!-- <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a> -->
<a href="https://wa.me/6285338393764" target="_blank" class="btn btn-success whatsapp-float">
  <i class="bi bi-whatsapp"></i> Chat Kami
</a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>
  <script src="./assets/js/sosmed.js"></script>
  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <!-- <script>
    alert("website ini masih dalam tahap pengembangan Oleh \n Tim: it-bajo.vercel.app")
  </script> -->

  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/4031_RC01/embed_loader.js"></script>
  <script
    type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", { "comparisonItem": [{ "keyword": "labuan bajo", "geo": "ID", "time": "now 1-d" }], "category": 0, "property": "" }, { "exploreQuery": "q=labuan%20bajo&date=now%201-d&geo=ID&hl=id", "guestPath": "https://trends.google.com:443/trends/embed/" }); </script>
</body>

</html>